<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speed Typing</title>
    <link rel="stylesheet" href="/stylesheets/a.css">

</head>

<body>
    <form action="/" method="post">

        <div class="segment">
            <h1>Typing Master</h1>
        </div>

        <label>
            <input type="text" name="name" placeholder="Enter Name" />
        </label>

        <button class="red" type="submit"><i class="icon ion-md-lock" onclick=></i> Start Game</button>




    </form>
</body>

</html>